<form>
  <h1>Login</h1>
  <label for = "username">Username</label>
  <input id="username-login" type="text" name="username" placeholder="Username">
  <br>
  <label for = "password">Password</label>
  <input id="password-login" type="password" name="password" placeholder="Password">
  <br>
  <button id="loginsubmit">Login</button>
</form>

<form>
  <h1>Sign Up</h1>
  <label for = "username">Username</label>
  <input id="username-signup" type="text" name="username" placeholder="Username">
  <br>
  <label for = "password">Password</label>
  <input id="password-signup" type="password" name="password" placeholder="Password">
  <br>
  <button id="signupsubmit">Sign Up</button> 
</form>

<script src="./login.js"></script>

